@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("Images/11.avif");
    /* background-image: url("Images/11.avif"); */
    background-repeat: no-repeat;
    background-size: cover;
}
#vid-1{
    width: 700px;
    border: 3px solid rgba(255, 166, 0, 0.671);
    border-radius: 70px;
    box-shadow: 0 3px 3px 0px rgba(255, 166, 0, 0.671);
}
.cam{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    /* text-align: center; */
    color: white;
    margin-bottom: 20px;
    font-size: 70px;
    width: 80vw;
    position: relative;
    left: 180px;
}
.form-1{
    height: 0vh;
    width: 0vw;
}
.goHome{
    color: white;
    background-color: black;
    border: 2px solid red;
    text-decoration: none;
    font-size: 40px;
    /* padding: 5px; */
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.6s;
    position: relative;
    left: 760px;
    top: 10px;
    cursor: pointer;
    border-radius: 50px;
    height: 60px;
}
.goHome:hover{
    background-color: rgb(94, 94, 94);
    border: 2px solid rgb(94, 94, 94);
}
.curls-gif{
    width: 520px;
    margin-left: 100px;
    border-radius: 70px;
}